.quest {
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 300px;
    color: #FFF;
}

.question {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}