.quest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}

.question {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.answer-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;

    margin-top: 60px;
}

.answer {
    display: flex;
    width: 300px;
    min-height: 67px;
    padding: 30px 40px;

    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #FFF;
    background: rgba(217, 217, 217, 0.20);

    font-size: 25px;
    cursor: pointer;
}

.answer:hover {
    background: #C8435E;
}

.answer label {
    cursor: pointer;
}

.answer-checked {
    animation: 0.5s infinite normal check;
    animation-iteration-count: 1;
}

@keyframes check {
    0% {
        background: #C8435E;
    }

    50% {
        background: rgba(200, 67, 94, 0);
    }

    100% {
        background: #C8435E;
    }
}