.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
}

.footer-info {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info p {
    margin: 5px;
}

.remnant {
    font-size: 30px;
    font-weight: 700;
    font-weight: 700;
}

.what-is-it {
    color: #ff7893;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    text-decoration: none;
}

.what-is-it:hover {
    text-decoration: underline;
}