@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

#root {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Caveat;
}

.container {
    background: linear-gradient(225deg, #5C1EA6 0%, #C8435E 100%);
    min-height: 100%;
    display: grid;
    align-items: center;
    grid-auto-rows: 60px 1fr 120px;
}